.main-section-image-section {
  color: white;
  justify-content: center;
}

.image-section-description {
  font-size: 45px;
  width: 650px;
  text-align: center;
  margin-top: 100px;
  font-family: serif;
  line-height: 2.9rem;
  font-weight: bold;
}

.image-section-margin {
  margin-top: 60px;
}
