.navbar-main-section {
  color: #6d7685;
}
.navbar-image {
  width: 30px;
  height: 30px;
}

.navbar-img-section {
  font-size: 14px;
  color: #3c4554;
}

.resources {
  margin-top: -4px;
}

.arrow {
  font-size: 20px;
  color: #2f3f69;
}
